Source: telepathy-haze
Section: net
Priority: optional
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Uploaders: Laurent Bigonville <bigon@bigon.be>
Build-Depends: cdbs,
               debhelper (>= 5),
               pkg-config (>= 0.9.0),
               libpurple-dev (>= 2.1.1),
               libtelepathy-glib-dev (>= 0.7)
Standards-Version: 3.7.2
Vcs-Bzr: http://bzr.debian.org/pkg-telepathy/packages/unstable/telepathy-haze/
Dm-Upload-Allowed: yes

Package: telepathy-haze
Architecture: any
Section: net
Depends: ${shlibs:Depends},
         ${misc:Depends}
Provides: telepathy-connection-manager
Description: A telepathy connection manager that use libpurple
 Haze is a telepathy connection manager based on libpurple.
 This allow telepathy based application to connect all protocols
 supported by libpurple (pidgin).
